@keyframes appearence {
    from {background-color: trasparent;}
    to {background-color: #d3caed;}
}


body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background: #fbfefe;
}
a {
	text-decoration: none;
	color: inherit;
}
header {
	background: #ffd11a;
	color: #ffffff;
	display: flex !important;
	border-bottom: #fff700 solid 5px;
	justify-content: space-around;
	align-items: center;
}
header > b {
	font-size: 1.9em;
}
div.logo {
	font-family: 'Yellowtail', cursive;
	font-size: 2em;
}
img.logo {
	height: 6em;
}
.container {
	display: flex;
	margin-left: 2em;
	margin-right: 2em;
}
.content {
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: flex-start;
}
.navbar {
	width: 20%;
}
.fillable {
	width: 100%;
}
li {
	display: flex;
	align-items: center;
	list-style: none;
}

li:hover {
	animation-name: appearence;
    animation-duration: 0.7s;
}
a {
	margin-bottom: 0.5em;
}
li > img {
	width: 32px;
	height: 32px;
	margin: 0.5em 1em 0.5em 0.5em;
}

