{% extends 'content.html' %}

{% load staticfiles %}

{% block title %}BeeSocial!{% endblock %}

{% block container %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/messages.css' %}">
<script type="text/javascript" src="{% static 'javascript/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>
  <div ng-app="MessageApp" class="fillable">
  	<div ng-controller="MessageController" class="container">
    		<div class="dialogs">
    				<dialog-list></dialog-list>
    		</div>
        <div class="messages">
          {% verbatim %}
      		  <messages-list></messages-list>
          {% endverbatim %}
        </div>
  	</div>
  </div>
{% endblock %}