{% extends 'base.html' %}

{% load static %}

{% block title %}BeeSocial!{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/messages.css' %}">
<script type="text/javascript" src="{% static 'javascript/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>
  <div ng-app="MessageApp">
  	<div ng-controller="MessageController">
      <div class="content">
    		<div class="dialogs">
    			{% for dialog in request.dialogs %}
    				<div ng-click="MessageService.getMessages({{dialog.id}})" class="dialog">
    					<p> {{ dialog.name }} </p>
    				</div>
            <hr/>
    			{% endfor %}
    		</div>
        <div class="">
          {% verbatim %}
      		  <messages-list></messages-list>
          {% endverbatim %}
        </div>
      </div>
  	</div>
  </div>
{% endblock %}