{% extends 'base.html' %}

{% load static %}

{% block title %}BeeSocial!{% endblock %}

{% block content %}

<script type="text/javascript" src="{% static 'javascript/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'javascript/index.js' %}"></script>
  <h2>Messages</h2>
  <div ng-app="MessageApp">
  	<div ng-controller="MessageController">
  		<div>
  			{% for dialog in request.dialogs %}
  				<div ng-click="MessageService.getMessages({{dialog.id}})">
  					<p> {{ dialog.name }} </p>
  				</div>
  			{% endfor %}
  		</div>
      {% verbatim %}
      {{ MessageService.countMessages() }}
  		<messages-list></messages-list>
      {% endverbatim %}
  	</div>
  </div>
{% endblock %}